# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "485dcaab1865dee9eda03eb8cfc78298"
name = "cmpc-app"
#application_url = "https://example.com"
application_url = "https://example-wj06.onrender.com"

embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_orders,read_customers,write_orders"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]


[app_proxy]
prefix = "apps"
subpath = "admin-proxy"
url = "https://example-wj06.onrender.com"

